{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_summary %}
    <div style="background: purple; color: white; padding: 20px; text-align: center; font-weight:Das ist ein extrem spannendes Rätsel, aber wir grenzen es ein bold; border: 5px solid black;">
        TEST: ICH BIN DIE BESTELL-ZUSAMMENFASSUNG
    </div>
    {{ parent() }}
{% endblock %}