{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_summary %}
    <div style="background: orange; color: black; padding: 20px; text-align: center; font-weight: bold; border: 5px solid black;">
        TEST: ICH BIN DIE WARENKORB-ZUSAMMENFASSUNG
    </div>
    {{ parent() }}
{% endblock %}